<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <link rel="icon" href="/img/weather.png">
    <meta charset="utf-8">
    <title>404 not found</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
        <p>{{not_founded}}</p>
    </div>
  {{>footer}}
  </body>
</html>
